<div class="card my-3">
    <div class="card-body">
        <div class="my-3">
            <a id="article_vote" class="recommend btn btn-m btn-outline-secondary">
                추천하기
                <span id="vote_article" class="badge rounded-pill bg-success"></span>
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"
        integrity="sha512-jGR1T3dQerLCSm/IGEGbndPwzszJBlKQ5Br9vuB0Pw2iyxOy+7AK+lJcCC8eaXyz/9du+bkCy4HXxByhxkHf+w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
     $('#article_vote').on("click", function () {
        if (confirm("정말로 추천하시겠습니까?")) {
            $.ajax({
                    type: "GET",
                    url: `/vote/doVote`,
                    success: function (res) {
                        $("#vote_article").text(res)
                    },
                    error: function (xhr) {
                        console.log(xhr)
                    }
           })
        }
    })
</script>
